.categories {
  padding-top: 150px;
  text-align: center;
  color: #7f4f83 !important;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}
